{%extends 'base.html'%}

{%block body%}

<h2>Add reise</h2>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Kosten</th>
      <th scope="col">Zielort</th>
      <th scope="col">Land</th>
      <th scope="col">Dauer</th>
      <th scope="col">Hotel</th>
      
    </tr>
  </thead>
  <tbody>

    {% for reise in reise %}
    <tr>
      <td>{{reise.Kosten}}</td>
      <td>{{reise.Zielort}}</td>
      <td>{{reise.Land}}</td>
      <td>{{reise.Dauer}}</td>
      <td>{{reise.Hotel}}</td>
      <td>
        <a class="btn btn-outline-secondary" href="/products/edit?productCode={{product.productCode}}">✏️</a>
        <form action="/products/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="productCode" id="productCode" value="{{product.productCode}}">
          <a class="btn btn-outline-secondary" href="#" onclick="deleteProduct(this); return false;">🗑️</a>
        </form>
      </td>
    </tr>
    {% endfor %}


  </tbody>


  
</table>

{%endblock%}