{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="Kosten" class="form-label">Code</label>
        {{form.Kosten(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Zielort" class="form-label">Name</label>
        {{form.Zielort(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Land" class="form-label">Product Line</label>
        {{form.Land(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Dauer" class="form-label">Scale</label>
        {{form.Dauer(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Hotel" class="form-label">Vendor</label>
        {{form.Hotel(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}