{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <div class="mb-3"> 
        <label for="Vorname" class="form-label">Name</label>
        {{form.Vorname(class_="form-control")}}
    </div>

    <div class="mb-3"> 
        <label for="Nachname" class="form-label">Name</label>
        {{form.Nachname(class_="form-control")}}
    </div>

    <div class="mb-3"> 
        <label for="Telefonnummer" class="form-label">nummer</label>
        {{form.Telefonnummer(class_="form-control")}}
    </div>

    <div class="mb-3"> 
        <label for="Adresse" class="form-label">Code</label>
        {{form.Adresse(class_="form-control")}}
    </div>

    <div class="mb-3"> 
        <label for="Hotel" class="form-label">Code</label>
        {{form.Hotel(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}